<div class="row">
	<!--First Card-->
	<div class="col md-4">
		<div class="card">
		  <div class="card-inner">
  
			<div class="card-front">
			  <img src="../assets/Book1.jpg" alt="Avatar">
			</div>
  
			<div class="card-back">
			  <div class="card-body">
				<p>“Many people, myself among them, feel better at the mere sight of a book.”</p>
				<p><small>-Jane Smiley</small></p>
			  </div>
			</div>
  
		  </div>
		</div>
	</div>
	<!--Second Card-->
	<div class="col md-4">
	  <div class="card">
		<div class="card-inner">
  
		  <div class="card-front">
			<img src="../assets/Book2.jpg" alt="Avatar">
		  </div>
  
		  <div class="card-back bg-info">
			<div class="card-body">
			  <p>“The library is inhabited by spirits that come out of the pages at night.”</p>
			  <p><small>-Isabel Allende</small></p>
			</div>
		  </div>
  
		</div>
	  </div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book3.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-warning">
		  <div class="card-body">
			<p>“That’s the thing about books. They let you travel without moving your feet.”</p>
			<p><small>-Jhumpa Lahiri</small></p>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book4.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-dark">
		  <div class="card-body">
			<p>“A book is a version of the world. If you do not like it, ignore it; or offer your own version in return.”</p>
			<p><small>-Salman Rushdie</small></p>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book5.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-secondary">
		  <div class="card-body">
			<p>“Books are good company, in sad times and happy times, for books are people – people who have managed to stay alive by hiding between the covers of a book.”</p>
			<p><small>-E.B. White</small></p>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>
  
  
  </div>
  
  
  
  <!--Second Row of Book Cards-->
  <div class="row">
	<!--First Card-->
	<div class="col md-4">
		<div class="card">
		  <div class="card-inner">
  
			<div class="card-front">
			  <img src="../assets/Book6.jpg" alt="Avatar">
			</div>
  
			<div class="card-back bg-primary">
			  <div class="card-body">
				<p>“There is more treasure in books than in all the pirate’s loot on Treasure Island.”</p>
				<p><small>-Walt Disney</small></p>
			  </div>
			</div>
  
		  </div>
		</div>
	</div>
	<!--Second Card-->
	<div class="col md-4">
	  <div class="card">
		<div class="card-inner">
  
		  <div class="card-front">
			<img src="../assets/Book7.jpg" alt="Avatar">
		  </div>
  
		  <div class="card-back bg-success">
			<div class="card-body">
			  <p>“I find television very educating. Every time somebody turns on the set, I go into the other room and read a book.”</p>
			  <p><small>-Groucho Marx</small></p>
			</div>
		  </div>
  
		</div>
	  </div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book8.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-info">
		  <div class="card-body">
			<p>“Some of these things are true and some of them lies. But they are all good stories.”</p>
			<p><small>-Hilary Mantel</small></p>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book9.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-warning">
		  <div class="card-body"> 
			<p>“Sleep is good, he said, and books are better.”</p>
			<p><small>-George R.R. Martin</small></p>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>
  <!--Third Card-->
  <div class="col md-4">
	<div class="card">
	  <div class="card-inner">
  
		<div class="card-front">
		  <img src="../assets/Book10.jpg" alt="Avatar">
		</div>
  
		<div class="card-back bg-danger">
		  <div class="card-body">
					<p>“It is a good rule after reading a new book, never to allow yourself another new one till you have read an old one in between.”</p>
					 <p><small>-C.S. Lewis</small></p>
					</div>
		</div>
  
	  </div>
	</div>
  </div>
  
  
  
  </div>